# Игнорируем папку my-server
my-server/

# Игнорируем стандартные файлы и папки, которые не нужны для сборки
node_modules/
*.log
*.lock
.env
.DS_Store

# Исключаем файлы и папки, которые могут быть созданы локально
.expo/
.expo-shared/
.idea/
.vscode/
build/
dist/
